@font-face {
    font-family: "Faculty";
    src: url("/fonts/FacultyGlyphic-Regular.ttf");
  }

  @font-face {
    font-family: "Busillis";
    src: url("/fonts/In die busillis.ttf");
  }

  @font-face {
    font-family: "Darwin";
    src: url("/fonts/DarwinSerif-Regular.ttf");
  }
  :root {
    --damask: #061822;
    --paper: #ffe9d7;
    --red: #c41e3a;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html,
  body {
    margin: 0;
    width: 100dvw;
    height: 100dvh;
    max-width: 100dvw;
    max-height: 100dvh;
    overflow: hidden;
  }

  .scroller {
    scrollbar-color: var(--red) rgba(0,0,0,0);
  }
