.article {
  .image-small {
    max-width: 500px;
  }

  .caption {
    width: max;
    background: var(--damask);
    margin: 0 2rem;
    color: var(--paper);
    padding: 0 1rem;
    font-size: 1.5rem;
  }

  .image {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-items: center;
  }

  .row p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: between;
  }

  h1 {
    color: var(--paper);
    background: var(--damask);
    padding: .5rem .5rem 0 .5rem;
    width: fit-content;
  }

  img {
    border: 4px solid var(--damask);
  }

  p {
    line-height: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  li {
    list-style: square inside;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  h2 {
    font-weight: 900;
    text-decoration: underline;
  }

  a {
    color: var(--red);
    text-decoration: underline;
  }

  a:hover {
    background: var(--red);
    color: var(--paper);
    text-decoration: none;
  }

  @media (max-width: 500px) {
    * {
      font-size: 1.5rem;
    }    

    h1 {
      font-size: 2rem;
    }

    p {
      padding: 0;
    }

    li {
      padding: 0 1rem;
    }   

    .caption {
      margin: 0;
      font-size: 1rem;
    }
  }
}
