---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="p-4 flex flex-col gap-4">
    <p>
      The Home page is currently under construction (as is most of the site,
      currently).
    </p>

    <p>
      Check out the <a href="/articles">articles</a> page for some existing content.
    </p>
  </div>
</MainLayout>
<style>
  a {
    color: var(--red);
    text-decoration: underline;
  }

  a:hover {
    color: blue;
  }
</style>
