---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="font-['Darwin'] text-[32px] mt-8 font-bold text-[--page] border border-[--background]">
    <div class="w-full bg-[--background] flex items-center mb-2 pt-2 pl-2 pr-2">
    Emulating Windows XP using Next.JS and Tailwind
    </div>
    <div class="flex items-center justify-center gap-8 p-4">
    <div class="w-full h-[300px] border border-[--background]">
    </div>
    <div class="w-full text-4 font-normal text-[--background]">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic cum nulla similique vero praesentium ea adipisci iste alias maiores saepe sequi dolorum numquam, facilis suscipit, soluta fugiat at dolore fugit.
    </div>
    </div>
  </div>
  <div class="font-['Darwin'] text-[32px] mt-8 font-bold text-[--page] border border-[--background]">
    <div class="w-full bg-[--background] flex items-center mb-2 pt-2 pl-2 pr-2">
    Lorem ipsum dolor sit amet.
    </div>
    <div class="flex items-center justify-center gap-8 p-4">
    <div class="w-full h-[300px] border border-[--background]">
    </div>
    <div class="w-full text-4 font-normal text-[--background]">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic cum nulla similique vero praesentium ea adipisci iste alias maiores saepe sequi dolorum numquam, facilis suscipit, soluta fugiat at dolore fugit.
    </div>
    </div>
  </div>
</Layout>
