<div class="wallpaper bg-[#061923] w-full h-full flex items-center justify-center">
  <div class="bg-[--page] w-[1200px] h-full p-16 text-[--background] flex flex-col">
    <slot />
  </div>
</div>
<style>
	.wallpaper {
		background-image: url("/textures/damask.jpg");
    background-size: contain;
		background-blend-mode: overlay;
	}

</style>
