<div class="font-['Busillis'] flex items-center max-h-[200px]">
  <h1 class="text-[200px] text-[--red]">S</h1>
  <h1 class="font-['Busillis'] text-[100px] underline decoration-[--red]">
    atyaloka
  </h1>
</div>
