<div class="flex flex-col self-center w-full justify-evenly h-full">
  <ul
    class="flex items-center justify-end gap-8 font-['Faculty'] text-2xl font-bold"
  >
    <li class="hover:underline transition-all hover:text-[--red]">
      <a href="/home">HOME</a>
    </li>
    <li><a href="/about">ABOUT</a></li>
    <li><a href="/recent">RECENT</a></li>
    <li><a href="/top">TOP</a></li>
  </ul>
</div>
