---
import Separator from "./decorations/Separator.astro";
---

<div class="sm:hidden w-full">
  <Separator />
</div>
<div class="flex self-center w-full justify-evenly h-full">
  <ul
    class="flex items-center justify-center sm:justify-end gap-8 font-['Faculty'] text-2xl font-bold w-full"
  >
    <li class="hover:underline transition-all hover:text-[--red]">
      <a href="/">HOME</a>
    </li>
    <li class="hover:underline transition-all hover:text-[--red]">
      <a href="/about">ABOUT</a>
    </li>
    <li class="hover:underline transition-all hover:text-[--red]">
      <a href="/search">SEARCH</a>
    </li>
  </ul>
</div>
