<div class="flex flex-col self-center w-full justify-evenly h-full">
  <ul
    class="flex items-center justify-end gap-8 font-['Faculty'] text-2xl font-bold"
  >
    <li class="hover:underline transition-all hover:text-[--red]">
      <a href="/">HOME</a>
    </li>
    <li class="hover:underline transition-all hover:text-[--red]">
      <a href="/about">ABOUT</a>
    </li>
    <li class="hover:underline transition-all hover:text-[--red]">
      <a href="/search">SEARCH</a>
    </li>
  </ul>
</div>
