<div class="damask w-full h-full flex items-center justify-center">
  <slot />
</div>

<style>
  .damask {
    background-image: url("/textures/damask.jpg");
    background-color: var(--damask);
    background-size: contain;
    background-blend-mode: overlay;
  }
</style>
