<div class="content w-[1200px] h-full flex flex-col max-w-full">
  <div class="paper p-2 sm:p-16">
    <slot />
  </div>
</div>

<style>
  .paper {
    background-color: var(--paper);
    background-image: url("/textures/paper.jpg");
    background-size: 40%;
    background-blend-mode: multiply;
  }
</style>
