<div class="content w-[1500px] h-full flex flex-col max-w-full z-20">
  <div class="paper p-2 sm:p-16 h-full overflow-auto">
    <slot />
  </div>
</div>

<style>
  .paper {
    background-color: var(--paper);
  }
</style>
